.cafeteria-container {
  width: 90%;
  margin-left: 5%;
}

.cafeteria-main {
  position: relative;
}

.cafeteria-main h3,
.cafeteria-main h2,
.cafeteria-main p {
  margin: 0;
}

.your-order {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(90deg, #0061ff 0%, #60efff 100%);
  border-radius: 20px;
  height: 7rem;
  color: #fff;
  padding: 0 3%;
  align-items: center;
  margin-top: 2%;
}

.order-head h3 {
  font-weight: 700;
  font-size: 25px;
}

.order-head p {
  font-size: 18px;
}

.waiting-time {
  text-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  font-weight: 700;
  font-size: 30px;
}

.cafeteria-menu h3 {
  margin-top: 2%;
}

.cafeteria-menu-items {
  margin-top: 3%;
  display: flex;
  gap: 3%;
}

.item-table {
  margin-top: 5%;
}

.cart {
  position: fixed;
  right: 5%;
  bottom: 5%;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.cart-button {
  cursor: pointer;
  border-radius: 100%;
  background-color: #0061ff;
  height: 55px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  right: 0;
}

.cart-button:hover{
  background-color: #fff;
  color: #000;
}

.cart-content {
  height: 30rem;
  width: 25rem;
  background-color: #fff;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);
  border-radius: 20px;
  margin-bottom: 5%;
  overflow: auto;
}

.cart-head h3 {
  margin: 3% 0 3% 5%;
}

.cart-head hr {
  width: 95%;
}

.cart-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3%;
  gap: 5%;
  margin-bottom: 5%;
}

.cart-item {
  width: 90%;
  height: 20%;
  background-color: #ececec;
  opacity: 80%;
  border-radius: 20px;
  display: flex;
  gap: 10%;
  align-items: center;
}

.cart-item img {
  height: 100%;
  width: 25%;
  object-fit: cover;
  border-radius: 20px;
}

.item-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.item-content > * {
  margin: 0;
}

.item-content h5 {
  font-size: 18px;
  font-weight: 600;
}

.item-content p {
  font-size: 16px;
  font-weight: 500;
}

.cart-content::-webkit-scrollbar {
  display: none;
}

.cart-bottom-text {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
}

.cart-bottom-text h4,
.cart-bottom-text p {
  margin: 0;
}

.cart-bottom-text p {
  font-weight: 500;
  font-size: 18px;
}

.cart-buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}

.cart-buttons button {
  width: 10rem;
  height: 2.5rem;
  border: none;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
}

.order-button {
  background-color: #0061ff;
  color: #fff;
}

.order-button:hover{
  background-color: #fff;
  color: #000;
  box-shadow: 0px 5px 15px rgb(0 0 0 / 15%);}
