a {
  text-decoration: none;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.your-dashboard {
  font-size: 1.3rem;
  margin-top: 3%;
}

.dashboard-content {
  margin-left: 5%;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.lists {
  margin-top: 6%;
  font-size: 1.2rem;
}

.lists ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
}

.lists ul li {
  list-style: none;
  cursor: pointer;
}

.view-box {
  width: 47rem;
  height: 20rem;
  margin-top: 5%;
  overflow: hidden;
}

.topics {
  display: flex;
  flex-direction: row;
  /* gap: 12%; */
  transition: 0.5s;
}

.grid-items {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 7%;
  row-gap: 7%;
  position: absolute;
}

.grid-items-hide {
  visibility: collapse;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s ease;
}

.grid-items-show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.notice-section {
  /* overflow: hidden; */
  width: 40%;
}
