.cafeteria-table {
  border: 1px solid #000000;
  border-radius: 10px;
  width: 100%;
  height: 35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5%;
  /* justify-content: center; */
}

.table-navbar {
  display: flex;
  justify-content: space-between;
  /* padding: 2% 5% 0 5%; */
  padding-top: 2%;
  width: 95%;
  align-items: center;
}

.table-navbar h3 {
  font-weight: 600;
  font-size: 24px;
}

.table-options {
  display: flex;
  /* justify-content: space-between; */
  /* width: 20%; */
  gap: 5%;
  margin-right: 3%;
}

.table-options input {
  border: 2px solid rgba(117, 116, 111, 0.75);
  border-radius: 5px;
  background: none;
  height: 25px;
}

.filter {
  display: flex;
}

.filter p {
  font-size: 18px;
  font-weight: 500;
}

.upload-button {
  border: 2px solid rgba(117, 116, 111, 0.75);
  border-radius: 5px;
  height: 30px;
  background: none;
}

.cafe-table {
  border: none;
  width: 100%;
  display: flex;
  margin-top: 3%;
  flex-direction: column;
  align-items: center;
}

.cafe-table thead {
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 3.5rem;
  width: 95%;

  border: none;
  height: 10%;
  display: flex;
  align-items: center;
}

.cafe-table thead tr {
  display: flex;
  justify-content: space-around;
  padding: 0;
}

.cafe-table tbody {
  margin-top: 1%;
  width: 95%;
  display: flex;
  gap: 5%;
  overflow: auto;
  justify-content: space-between;
}

.cafe-table tbody tr {
  display: flex;
  justify-content: space-around;
}

.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox .select {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border: 2px solid rgba(117, 116, 111, 0.75);
  border-radius: 5px;
  background-color: #eee;
}

.checkmark:after {
  content: "";
  display: none;
  position: absolute;
}

.checkbox .select:checked ~ .checkmark:after {
  display: block;
}

.checkbox .select:checked ~ .checkmark {
  background-color: #0061ff;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.add-control {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
  gap: 15%;
}

.cafe-table tbody::-webkit-scrollbar {
  display: none;
}

.cafe-data {
  display: flex;
  flex-direction: column;
}

.row-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
